* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Roboto', sans-serif;
}

.wrap {
    max-width: 1200px;
    margin: 10px auto;
    width: 100%;
}

.header {
    background: #EEEFF1;
    min-height: 500px;
    padding-top: 30px;
}

.save {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_bar ol {
    display: flex;
    gap: 60px;
}

.nav_bar ol li {
    font-size: 16px;
    font-weight: 500;
    line-height: 164.063%;
    letter-spacing: 1.6px;
}

.nav_bar ol :nth-child(1) {
    color: var(--Accent, #34547A);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
}

.about_text h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 164.063%;
}

.text {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
    padding: 20px 0 14px;
}

.about_text button {
    width: 205px;
    height: 65px;
    background: #34547A;
    color: white;
}

.abouts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 120px 0 100px;
}

.center {
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.page {
    margin: 100px 0 100px;
}


.blue {
    min-height: 200px;
    background: var(--Accent, #34547A);
}


.cars {
    display: flex;
    justify-content: space-between;
}

.car {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 200px;
}

.car_text h4,
p {
    color: #EEEFF1;
}

p {
    color: #727272;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
}

.book-img img {
    width: 555px;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px;
}

.book-text {
    margin-right: 70px;
}

.book-text p {
    border-bottom: 4px solid #34547A;
    width: 400px;
}

.cat-text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 164.063%;
}

.cats {
    background: #EEEFF1;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: relative;
}

.cat-img img {
    width: 1110px;
    height: 600px;
    flex-shrink: 0;
    margin: 57px auto;
}

.cat-img button img {
    position: absolute;
    top: 580px;
    left: 700px;
    width: 50px;
    height: 50px;
}

.google-img img {
    width: 1450px;
    height: 570px;

}

.goog-img {
    /* margin: 60px 0 0;
    width: 1200px;
    height: 200px; */
    gap:70px;
    display: flex;
    padding: 30px 0;
    
}

.thisis {
    background-color: #EEEFF1;
    width: 1460px;
    height: 500px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3 {
    padding: 30px;
}

.footer {
    min-height: 100px;
    background: var(--Accent, #34547A);

}

.foot-text h1 {
    color: #fff;
    font-size: 10px;
    padding-left: 300px;
}

h5 {
    font-size: 7px;
    color: #fff;
    padding-left: 300px;
}


.form {
    width: 500px;
    height: 400px;
}

.foot-input input {
    width: 100%;
    height: 175px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    padding-bottom: 140px;
    padding-left: 10px;
}

.header-input {
    display: flex;
    gap: 20px;
}

.header-input input {
    border-radius: 6px;
    width: 255px;
    height: 50px;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 250px;
}